
/* CSS Document - Text */

.txtContentBlack1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.txtContentBlack1 a:link, .txtContentBlack1 a:visited , .txtContentBlack1 a:active {
	color:#000;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentBlack1 a:hover {
	color:#333;
	font-weight:normal;
	text-decoration:underline;
	}
	
.txtContentBlack1i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.txtContentBlack1i a:link, .txtContentBlack1i a:visited , .txtContentBlack1i a:active {
	color:#000;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentBlack1i a:hover {
	color:#F90;
	font-weight:normal;
	text-decoration:underline;
	}
	
.txtContentBlack1bi {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.txtContentBlack1bi a:link, .txtContentBlack1bi a:visited , .txtContentBlack1bi a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentBlack1bi a:hover {
	color:#F90;
	font-weight:bold;
	text-decoration:underline;
	}

.txtContentBlack2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtContentBlack2 a:link, .txtContentBlack2 a:visited , .txtContentBlack2 a:active {
	color:#000;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentBlack2 a:hover {
	color:#666;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentBlack2b {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtContentBlack2b a:link, .txtContentBlack2b a:visited , .txtContentBlack2b a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentBlack2b a:hover {
	color:#F60;
	font-weight:bold;
	text-decoration:underline;
	}
	
.txtContentBlack2bi {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtContentBlack2bi a:link, .txtContentBlack2bi a:visited , .txtContentBlack2bi a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentBlack2bi a:hover {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
	
	
.txtContentGrey2bi {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	}
.txtContentGrey2bi a:link, .txtContentGrey2bi a:visited , .txtContentGrey2bi a:active {
	color:#666;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentGrey2bi a:hover {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
	
.txtContentBlack2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtContentBlack2i a:link, .txtContentBlack2i a:visited , .txtContentBlack2i a:active {
	color:#000;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentBlack2i a:hover {
	color:#F90;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentGreen2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #00CC66;
	}
.txtContentGreen2i a:link, .txtContentGreen2i a:visited , .txtContentGreen2i a:active {
	color:#0C6;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentGreen2i a:hover {
	color:#333;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentGreen2bi {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #00CC66;
	}
.txtContentGreen2bi a:link, .txtContentGreen2bi a:visited , .txtContentGreen2bi a:active {
	color:#0C6;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentGreen2bi a:hover {
	color:#333;
	font-weight:bold;
	text-decoration:none;
	}

.txtContentGreen3i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #00CC66;
	}
.txtContentGreen3i a:link, .txtContentGreen3i a:visited , .txtContentGreen3i a:active {
	color:#0C6;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentGreen3i a:hover {
	color:#333;
	font-weight:normal;
	text-decoration:none;
	}


.txtContentGrey2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	}
.txtContentGrey2i a:link, .txtContentGrey2i a:visited , .txtContentGrey2i a:active {
	color:#999;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentGrey2i a:hover {
	color:#333;
	font-weight:normal;
	text-decoration:none;
	}
	
.txtContentWhite2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	}
.txtContentWhite2 a:link, .txtContentWhite2 a:visited , .txtContentWhite2 a:active {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentWhite2 a:hover {
	color:#CCC;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentWhite2b {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	}
.txtContentWhite2b a:link, .txtContentWhite2b a:visited , .txtContentWhite2b a:active {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentWhite2b a:hover {
	color:#CCC;
	font-weight:bold;
	text-decoration:none;
	}

.txtContentWhite2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	}
.txtContentWhite2i a:link, .txtContentWhite2i a:visited , .txtContentWhite2i a:active {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentWhite2i a:hover {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentOrange2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	}
.txtContentOrange2 a:link, .txtContentOrange2 a:visited , .txtContentOrange2 a:active {
	color:#F60;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentOrange2 a:hover {
	color:#F60;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentGrey2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	}
.txtContentGrey2 a:link, .txtContentGrey2 a:visited , .txtContentGrey2 a:active {
	color:#666;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentGrey2 a:hover {
	color:#F90;
	font-weight:normal;
	text-decoration:none;
	}


.txtContentOrange2b {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	}
.txtContentOrange2b a:link, .txtContentOrange2b a:visited , .txtContentOrange2b a:active {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentOrange2b a:hover {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
	
.txtContentOrange2bi {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	}
.txtContentOrange2bi a:link, .txtContentOrange2bi a:visited , .txtContentOrange2bi a:active {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentOrange2bi a:hover {
	color:#F90;
	font-weight:bold;
	text-decoration:none;
	}

.txtContentOrange2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	}
.txtContentOrange2i a:link, .txtContentOrange2i a:visited , .txtContentOrange2i a:active {
	color:#F60;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentOrange2i a:hover {
	color:#F90;
	font-weight:normal;
	text-decoration:none;
	}
	
.txtContentRed2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF0000;
	}
.txtContentRed2i a:link, .txtContentRed2i a:visited , .txtContentRed2i a:active {
	color:#F30;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentRed2i a:hover {
	color:#F33;
	font-weight:normal;
	text-decoration:none;
	}
	
.txtContentRed2bi {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF0000;
	}
.txtContentRed2bi a:link, .txtContentRed2bi a:visited , .txtContentRed2bi a:active {
	color:#F30;
	font-weight:bold;
	text-decoration:none;
	}
.txtContentRed2bi a:hover {
	color:#F33;
	font-weight:bold;
	text-decoration:none;
	}
	
.txtContentBlack3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtContentBlack3 a:link, .txtContentBlack3 a:visited , .txtContentBlack3 a:active {
	color:#000;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentBlack3 a:hover {
	color:#999;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentBlack3i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtContentBlack3i a:link, .txtContentBlack3i a:visited , .txtContentBlack3i a:active {
	color:#000;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentBlack3i a:hover {
	color:#999;
	font-weight:normal;
	text-decoration:none;
	}
	
.txtContentGrey3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #999999;
	}
.txtContentGrey3 a:link, .txtContentGrey3 a:visited , .txtContentGrey3 a:active {
	color:#999;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentGrey3 a:hover {
	color:#CCC;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentGrey3i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #999999;
	}
.txtContentGrey3i a:link, .txtContentGrey3i a:visited , .txtContentGrey3i a:active {
	color:#999;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentGrey3i a:hover {
	color:#CCC;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentOrange3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	}
.txtContentOrange3 a:link, .txtContentOrange3 a:visited , .txtContentOrange3 a:active {
	color:#F60;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentOrange3 a:hover {
	color:#F90;
	font-weight:normal;
	text-decoration:none;
	}

.txtContentOrange3i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	}
.txtContentOrange3i a:link, .txtContentOrange3i a:visited , .txtContentOrange3i a:active {
	color:#F60;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentOrange3i a:hover {
	color:#F90;
	font-weight:normal;
	text-decoration:none;
	}
	
.txtContentWhite3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	}
.txtContentWhite3 a:link, .txtContentWhite3 a:visited , .txtContentWhite3 a:active {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
	}
.txtContentWhite3 a:hover {
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
	}


.txtTitleBlack1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	line-height: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.txtTitleBlack1 a:link, .txtTitleBlack1 a:visited , .txtTitleBlack1 a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtTitleBlack1 a:hover {
	color:#333;
	font-weight:bold;
	text-decoration:none;
	}

.txtTitleBlack1i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: italic;
	line-height: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.txtTitleBlack1i a:link, .txtTitleBlack1i a:visited , .txtTitleBlack1i a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtTitleBlack1i a:hover {
	color:#F90;
	font-weight:bold;
	text-decoration:none;
	}
	
.txtTitleOrange1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	line-height: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
}
.txtTitleOrange1 a:link, .txtTitleOrange1 a:visited , .txtTitleOrange1 a:active {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
.txtTitleOrange1 a:hover {
	color:#F90;
	font-weight:bold;
	text-decoration:none;
	}

.txtTitleOrange1i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: italic;
	line-height: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
}
.txtTitleOrange1i a:link, .txtTitleOrange1i a:visited , .txtTitleOrange1i a:active {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
.txtTitleOrange1i a:hover {
	color:#F90;
	font-weight:bold;
	text-decoration:none;
	}

.txtTitleBlack2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
.txtTitleBlack2 a:link, .txtTitleBlack2 a:visited , .txtTitleBlack2 a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtTitleBlack2 a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}

.txtBigTitleOrange1 {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 30px;
	font-style: normal;
	line-height: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
}
.txtBigTitleOrange1 a:link, .txtBigTitleOrange1 a:visited , .txtBigTitleOrange1 a:active {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}
.txtBigTitleOrange1 a:hover {
	color:#F60;
	font-weight:bold;
	text-decoration:none;
	}

.txtMenuBlack1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtMenuBlack1 a:link, .txtMenuBlack1 a:visited , .txtMenuBlack1 a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtMenuBlack1 a:hover {
	color:#F90;
	font-weight:bold;
	text-decoration:none;
	}

.txtMenuWhite1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	}
.txtMenuWhite1 a:link, .txtMenuWhite1 a:visited , .txtMenuWhite1 a:active {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	}
.txtMenuWhite1 a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}

.txtMenuWhite2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	}
.txtMenuWhite2 a:link, .txtMenuWhite2 a:visited , .txtMenuWhite2 a:active {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	}
.txtMenuWhite2 a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}

.txtMenuWhite2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	}
.txtMenuWhite2i a:link, .txtMenuWhite2i a:visited , .txtMenuWhite2i a:active {
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	}
.txtMenuWhite2i a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}

.txtMenuBlack2i {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtMenuBlack2i a:link, .txtMenuBlack2i a:visited , .txtMenuBlack2i a:active {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	}
.txtMenuBlack2i a:hover {
	color:#333333;
	font-weight:bold;
	text-decoration:none;
	}


.txtMenuBlack2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtMenuBlack2 a:link, .txtMenuBlack2 a:visited , .txtMenuBlack2 a:active {
	color:#000;
	font-weight:bold;
	text-decoration:underline;
	}
.txtMenuBlack2 a:hover {
	color:#333;
	font-weight:bold;
	text-decoration:underline;
	}
	
.txtFooterBlack1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}

.txtFooterBlack1 a:link, .txtFooterBlack1 a:visited , .txtFooterBlack1 a:active {
	color:#000;
	font-weight:bold;
	text-decoration:underline;
	}
.txtFooterBlack1 a:hover {
	color:#333;
	font-weight:bold;
	text-decoration:underline;
	}

.txtFooterBlack2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	}
.txtFooterBlack2 a:link, .txtFooterBlack2 a:visited , .txtFooterBlack2 a:active {
	color:#000;
	font-weight:normal;
	text-decoration:underline;
	}
.txtFooterBlack2 a:hover {
	color:#333;
	font-weight:normal;
	text-decoration:underline;
	}

.txtFieldRecherche {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	height:28px;
	width:200px;
	border-style:solid;
	border-width:thin;
	border-color:#666;
	background-color:#000000
	}


.txtFieldForm {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	height:24px;
	width:220px;
	border-style:solid;
	border-width:thin;
	border-color:#F90;
	background-color:#FFFFFF
	}
	
.txtFieldFormM {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	height:24px;
	width:150px;
	border-style:solid;
	border-width:thin;
	border-color:#F90;
	background-color:#FFFFFF
	}
	
.txtFieldFormSmall {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	height:24px;
	width:40px;
	border-style:solid;
	border-width:thin;
	border-color:#F90;
	background-color:#FFFFFF
	}
	
.txtFieldFormS2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	height:24px;
	width:40px;
	border-style:solid;
	border-width:thin;
	border-color:#F60;
	background-color:#FF9900
	}

.txtFieldForm2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	height:23px;
	width:180px;
	border-style:solid;
	border-width:thin;
	border-color:#F90;
	background-color:#FFFFFF
	}
	
.txtFieldFormArea {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	height:124px;
	width:240px;
	border-style:solid;
	border-width:thin;
	border-color:#F90;
	background-color:#FFFFFF
	}
	
	
